$color-dark: #0B0D17;
$color-gray: #D0D6F9;
$color-white: #FFFFFF;

@font-face {
    font-family: 'Bellefair';
    src: url('../assets/fonts/Bellefair-Regular.ttf');
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('../assets/fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Barlow';
    src: url('../assets/fonts/Barlow-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    color: $color-white;
    font-family: Bellefair;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

h1{
    font-size: 150px;
}

h2{
    font-size: 100px;
}

h3{
    font-size: 56px;
}

h4{
    font-size: 32px;
}

h5{
    color: $color-gray;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.725px;
}

h6{
    color: $color-white;
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.725px;
}

.bg-destination{
    background: url('../assets/destination/background-destination-desktop.jpg') no-repeat center center;
    background-size: cover;
}
.bg-crew{
    background: url('../assets/crew/background-crew-desktop.jpg') no-repeat center center;
    background-size: cover;
}
.bg-technology{
    background: url('../assets/technology/background-technology-desktop.jpg') no-repeat center center;
    background-size: cover;
}

body{
    background: url('../assets/home/background-home-desktop.jpg') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}

.fw-700{
    font-weight: 700;
}

header{
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    .cross, .burger{
        display: none;
    }
    .header__logo{
        align-self: center;
        padding: 0 50px;
    }
    .line{
        width: 573px;
        height: 1px;
        background: $color-white;
        opacity: 0.2515;
        margin: 32px 0;
        align-self: center;
        position: relative;
        right: -25px;
        z-index: 1;
    }

    .header__nav{
        width: 830px;
        height: 96px;
        flex-shrink: 0;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
        display: flex;
        align-items: center;
        justify-content: center;
        .tabs-highlighter{
            width: 72px;
            height: 3px;
            background: $color-white;
            position: absolute;
            bottom: 0;
            left: 116px;
            transition: all 0.3s ease-in-out;
        }
        ul{
            width: 80%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li{
                list-style: none;
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    color: $color-white;
                    font-family: 'Barlow Condensed';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2.7px;
                    text-transform: uppercase;
                    text-decoration: none;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border:3px solid transparent;
                    cursor: pointer;
                    &:hover{
                        border-bottom: 3px outset rgba(255,255,255,0.5021);
                    }
                    span{
                        margin-right: 12px;
                    }
                }
            
            }
        }
    }
}

.hidden{
    display: none!important;
}
section.home{
    margin: 200px auto 110px auto;
    justify-content: space-between;
    max-width: 1080px;
}
section.technology{
    .fw-700{
        opacity: 0.25;
        margin-right: 10px;
    }
    .container__techinfo{
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .container__menu_image{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .tech-menu{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 500px;
                
                .tech-selector{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 300px;
                    width: 150px;
                    .circle{
                        display: inline-flex;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        margin-right: 1.5px;
                        cursor: pointer;
                        justify-content: center;
                        align-items: center;
                        color: $color-white;
                        text-align: center;
                        font-family: Bellefair;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        background: transparent;
                        border: 1px solid rgba(255,255,255,0.25);
                        &:hover{
                            border: 1px solid $color-white;
                        }
                    }
                    .active{
                        background: $color-white;
                        color:#0B0D17;
                    }
                }
            }
            .tech-content{
                h4{
                    color: #D0D6F9;
                    font-family: Barlow Condensed;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2.7px;
                    margin-bottom: 10px;
                }
                h3{
                    margin-bottom: 15px;
                }
                p{
                    width: 444px;
                    color: #D0D6F9;
                    font-family: Barlow;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px; /* 177.778% */
                }
            }
            .container__tech_image{
                width: 552px;
                height: 640px;
                .tech-image{
                    width: 100%;
                    height: 100%;
                    background: url('../assets/technology/image-launch-vehicle-portrait.jpg') no-repeat center center;
                    mix-blend-mode: screen;
                }
                .Spaceport{
                    background: url('../assets/technology/image-spaceport-portrait.jpg') no-repeat center center;
                    mix-blend-mode: screen;
                }
                .Space-capsule{
                    background: url('../assets/technology/image-space-capsule-portrait.jpg') no-repeat center center;
                    mix-blend-mode: screen;
                }
            }
        }
    }
}
section.crew{
    justify-content: space-between;
    max-width: 1180px;
    .fw-700{
        opacity: 0.25;
        margin-right: 10px;
    }
    .container__crewinfo_image{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .container__crewinfo{
        display: flex;
        max-height: 600px;
        flex-direction: column;
        justify-content: space-evenly;
        .teammate-infos{
            position: relative;
            height: 300px;
            top: -10px;
        }
        .selector{
            circle{
                cursor: pointer;
            }
            circle:hover {
                fill: $color-white;
                opacity: 0.5;
            }
        }
        h4{
            color: #FFF;
            font-family: Bellefair;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
            opacity: 0.5042;
            margin-bottom: 10px;
        }
        h3{
            margin-bottom: 20px;
        }
        p{
            width: 444px;
            color: #D0D6F9;
            font-family: Barlow;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 177.778% */
        }
    }
    .container__crewimage{
        height: 100%;
        .hidden-line{
            display: none;
        }
        .image__teammate{
            width: 568.072px;
            height: 712px;
            flex-shrink: 0;
            background: url("../assets/crew/image-douglas-hurley.webp") no-repeat center bottom;
            background-size: contain;
        }
        .Mark-Shuttleworth{
            width: 453.44px;
            height: 654px;
            background: url("../assets/crew/image-mark-shuttleworth.webp") no-repeat center bottom;
            background-size: contain;
        }
        .Victor-Glover{
            width: 554.388px;
            height: 681px;
            background: url("../assets/crew/image-victor-glover.webp") no-repeat center 50px;
            background-size: contain;
        }
        .Anousheh-Ansari{
            width: 615.567px;
            height: 650px;
            background: url("../assets/crew/image-anousheh-ansari.webp") no-repeat center 0;
            background-size: contain;
        }
    }
}
section.destination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .fw-700{
        opacity: 0.25;
        margin-right: 28px;
    }
    .container__image_info{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .container__image{
        width: 500px;
        height: 500px;
        position: relative;
    }
    .image__planet{
        width: 85%;
        height: 85%;
        position: absolute;
        top : 100px;
        right: 0;
        align-self: center;
        background: url('../assets/destination/image-moon.webp') no-repeat center center;
        background-size: contain;
    }
    .Mars{
        background: url('../assets/destination/image-mars.webp') no-repeat center center;
        background-size: contain;
    }
    .Europa{
        background: url('../assets/destination/image-europa.webp') no-repeat center center;
        background-size: contain;
    }
    .Titan{
        background: url('../assets/destination/image-titan.webp') no-repeat center center;
        background-size: contain;
    }
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 50px 50px 0 50px;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__content{
        width: 450px;
        display: inline-flex;
        padding-right: 5px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        border: 1px solid #000;
        p.home-p{
            color: #D0D6F9;
            font-family: Barlow;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
    }

    &__btn{
        display: flex;
        justify-content: center;
        position: relative;
        height: 274px;
        margin-top: 100px;
        .round-btn{
            width: 274px;
            height: 274px;
            flex-shrink: 0;
            align-self: flex-end;
            border-radius: 274px;
            background: #fff;

            &:hover{
                &::before{
                    content: "";
                    width: 450px;
                    height: 450px;
                    border-radius: 274px;
                    background: rgba(255,255,255,0.1036);
                    position: absolute;
                    top: calc(50% - 225px);
                    left: calc(50% - 225px);
                    z-index: -1;
                }
            }
        }
        
        .round-btn a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border-radius: 274px;
            color: #0B0D17;
            font-family: Bellefair;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    &__informations{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 472;
        margin-top: 90px;

        width: 444px;
        .line{
            width: 444px;
            margin-top: 20px;
            height: 1px;
            flex-shrink: 0;
            background: #383B4B;
        }
        nav{
            position: relative;
            ul{
                display: flex;
                justify-content: space-between;
                width: 285.5px;
                height: 34px;
                flex-shrink: 0;
                li{
                    list-style: none;
                    color: $color-gray;
                    font-family: 'Barlow Condensed';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2.7px;
                    cursor: pointer;
                    border-bottom: 3px solid transparent;
                    &:hover{
                        border-bottom: 3px outset rgba(255,255,255,0.5021);
                    }
                }
                .active{
                    color: $color-white;
                }
            }
            .mini-tabs-highlighter{
                width: 39px;
                height: 3px;
                background: $color-white;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: all 0.3s ease-in-out;
            }
        }
        p{
            color: #D0D6F9;
            font-family: Barlow;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 177.778% */
        }
        .informations__travel{
            display: flex;
            .informations__travel__item{
                width: 222px;
                p{
                    font-family: 'Barlow Condensed';
                    font-size: 14px;
                    letter-spacing: 2.362px;
                    text-transform: uppercase;
                }
                h3{
                    color: #FFF;
                    font-family: Bellefair;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and (max-width: 1056px){
    
    section.crew{
        margin-top: 40px!important;
        h6{
            align-self: flex-start;
            font-size: 20px;
            margin-bottom: 100px;
            margin-left: 50px;
        }
        .container__crewinfo_image{
            flex-direction: column;
            align-items: center;
        }
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        .container__crewimage{
            .image__teammate{
                width: 456.372px;
                height: 572px;
            }
            .Anousheh-Ansari{
                background-position: 0 100px;
            }
        }
        .container__crewinfo{
            .teammate-infos{
                height: 250px;
                h3{
                    margin: 5px;
                    font-size: 40px;
                }
                h4{
                    font-size: 24px;
                }
                p#crew-bio{
                    font-size: 16px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (max-width: 994px) {
    body{
        background: url('../assets/home/background-home-tablet.jpg') no-repeat center center;
        background-size:cover;
    }
    .bg-destination{
        background: url('../assets/destination/background-destination-tablet.jpg') no-repeat center center;
        background-size:cover;
    }
    .bg-crew{
        background: url('../assets/crew/background-crew-tablet.jpg') no-repeat center center;
        background-size:cover;
    }
    .bg-technology{
        background: url('../assets/technology/background-technology-tablet.jpg') no-repeat center center;
        background-size:cover;
    }

    header{
        padding: 0;
        margin: 0;
        .line{
            display: none;
        }
        .header__nav{
            width: 450px;
            height: 96px;
            span{
                display: none;
            }
            .tabs-highlighter{
                width: 41px;
                left:55px;
            }
        }
    }

    section.container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        .container__content{
            border:0;
            align-items: center;
            text-align: center;
            margin-bottom: 150px;
            h5{
                font-size: 20px;
            }
            p{
                font-size: 16px;
            }	
        }
        .container__btn{
            height: 242px;
            margin-bottom: 150px;
            .round-btn{
                width: 242px;
                height: 242px;
                a{
                    font-size: 32px;
                }
                &:hover{
                    &::before{
                        width: 400px;
                        height: 400px;
                        border-radius: 242px;
                        top: calc(50% - 200px);
                        left: calc(50% - 200px);
                    }
                }
            }
            margin: 0;
        }
    }

    section.destination{
        align-items: center;
        text-align: center;
        margin-top: 40px;
        h6{
            align-self: flex-start;
            font-size: 20px;
            margin-left: 50px;
        }
        .container__image_info{
            flex-direction: column;
            align-items: center;
        }
        .container__image{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .image__planet{
                position: relative;
                top: 65px;
            }
        }
        .container__informations{
            align-items: center;
            margin-bottom: 100px;
            h2{
                font-size: 80px;
            }
            p{
                font-size: 16px;
                
            }
        }
    }
    
    section.technology{
        margin-top: 0;
        h6{
            padding: 0 0 20px 50px;
            font-size: 20px;
            margin: 40px 0 50px 0;
        }

        .container__techinfo{
            padding: 0;
            .container__menu_image{
                flex-direction: column-reverse;
                .tech-menu{
                    flex-direction: column;
                    justify-content: center;
                    .tech-content{
                        text-align: center;
                        h3{
                            font-size: 40px;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                    .tech-selector{
                        flex-direction: row;
                        width: 300px;
                        height: 100px;
                        .circle{
                            width: 80px;
                            height: 80px;
                            margin-right: 1.5px;
                        }
                    }
                }
                .container__tech_image{
                    width: 100%;
                    height: 40vw;
                    .tech-image{
                        background: url('../assets/technology/image-launch-vehicle-landscape.jpg') no-repeat center center;
                        background-size: cover;
                        width: 100%;
                    }
                    .Spaceport{
                        background: url('../assets/technology/image-spaceport-landscape.jpg') no-repeat center center;
                        background-size: cover;
                    }
                    .Space-capsule{
                        background: url('../assets/technology/image-space-capsule-landscape.jpg') no-repeat center center;
                        background-size: cover;
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container{
        padding: 0;
    }
    header {
        .burger{
            width: 24px;
            height: 21px;
            background:url("../assets/shared/icon-hamburger.svg") no-repeat center center;
            margin: 30px 20px 0 0;
            display: block;
            cursor: pointer;
        }
        .show{
            transform: translate(-254px, 0);
            transition: transform 0.1s ease-in-out;
        }
        .header__nav{
            position: fixed;
            z-index: 2;
            height: 100vh;
            width: 254px;
            right:-254px;
            transition: transform 0.3s ease-in-out;
            .cross{
                width: 19.092px;
                height: 19.092px;
                background:url("../assets/shared/icon-close.svg") no-repeat center center;
                position: absolute;
                top: 30px;
                right: 20px;
                display: block;
                cursor: pointer;
            }
            .vertical-highlighter{
                width: 4px;
                height: 50px;
                background: $color-white;
                position: absolute;
                top: 125px;
                right: 0;
                transition: all 0.3s ease-in-out;
            }
            ul{
                margin-top: 250px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                li{
                    height: 50px;
                    width: 100%;
                    a{
                        display: block;
                        line-height: 50px;
                        width: 100%;
                        height: 100%;
                        &:hover{
                            border-bottom: 0;
                        }
                    }
                    span{
                        display: inline;
                    }
                }
            }
            .tabs-highlighter{
                display: none;
            }
        }
        .header__logo{
            padding: 20px 20px;
        }
    }
}

@media screen and (max-width: 376px) {
    body{
        background: url('../assets/home/background-home-mobile.jpg') no-repeat center center;
        background-size:cover;
    }
    .bg-destination{
        background: url('../assets/destination/background-destination-mobile.jpg') no-repeat center center;
        background-size:cover;
    }
    .bg-crew{
        background: url('../assets/crew/background-crew-mobile.jpg') no-repeat center center;
        background-size:cover;
    }
    .bg-technology{
        background: url('../assets/technology/background-technology-mobile.jpg') no-repeat center center;
        background-size:cover;
    }
    section.home{
        margin: 25px 0 20px 0;
        .container__content{
            width: 100vw;
            margin-bottom: 50px;
            h1{
                font-size: 80px;
            }
            h5{
                font-size: 16px;
            }
            p.home-p{
                font-size: 15px;
                width: 327px;
            }
        }
        .container__btn{
            .round-btn{
                width: 150px;
                height: 150px;
                a{
                    font-size: 20px;
                }
            }
            margin: 0;
        }
    }

    section.destination{
        h6{
            font-size:16px;
            margin: 0;
            align-self: center;
            span.fw-700{
                margin-right: 5px;
            }
        }
        .container__image_info{
            .container__image{
                width: 249px;
                height: 249px;
                .image__planet{
                    top: 20px;
                }
            }
            .container__informations{
                width: 100%;
                margin-top: 30px;
                margin-bottom: 50px;
                ul{
                    li{
                        font-size: 14px;
                    }
                }
                h2{
                    font-size: 56px;
                    margin-top:20px;
                }
                p{
                    font-size: 15px;
                    line-height: 25px;
                    width: 327px;
                }
                .line{
                    width: 327px;
                }
                .informations__travel{
                    flex-direction: column;
                    .informations__travel__item{
                        width: 100%;
                        margin-bottom: 20px;
                        h3{
                            font-size: 28px;
                        }
                        p{
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    section.crew{
        h6{
            font-size:16px;
            margin: 0;
            align-self: center;
            span.fw-700{
                margin-right: 5px;
            }
        }
        .container__crewinfo_image{
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 40px;
            .container__crewinfo{
                flex-direction: column-reverse;
                .selector{
                    margin-bottom: 40px;
                }
                h4{
                    font-size: 16px;
                }
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 15px;
                    width: 327px;
                }
            }
            .container__crewimage{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
                .image__teammate{
                    width: 177px;
                    height: 222px;
                }
                .hidden-line {
                    display: block;
                    width: 327px;
                    height: 1px;
                    background: #383B4B;
                }
                .Victor-Glover{
                    width: 180.726px;
                    height: 222px;
                    background-position: 0 10px;
                }
                .Anousheh-Ansari{
                    width: 226.147px;
                    height: 223px;
                    background-position: 0 0;
                }
            }
        }
    }

    section.technology{
        h6{
            font-size:16px;
            margin: 0 0 40px 0;
            padding: 0;
            align-self: center;
            span.fw-700{
                margin-right: 5px;
            }
        }
        .container__techinfo{
            .container__menu_image{
                .tech-menu{
                    justify-content: flex-start;
                    margin-top: 50px;
                    height: auto;
                    .tech-selector{
                        width: 160px;
                        height: 40px;
                        margin-bottom: 30px;
                        .circle{
                            width: 40px;
                            height: 40px;
                            font-size: 16px;
                        }
                    }
                    .tech-content{
                        width: 327px;
                        
                        h4{
                            font-size: 14px;
                        }
                        h3{
                            font-size: 24px;
                        }
                        p{
                            font-size: 15px;
                            line-height: 25px;
                            width: 327px;
                        }
                    }
                }
            }
        }
    }
}